<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.4" 
	xmlns="http://java.sun.com/xml/ns/j2ee" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee 
	http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
  <servlet>
    <servlet-name>RegisterAction</servlet-name>
    <servlet-class>cn.displayboard.register.action.RegisterAction</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>RegisterServlet</servlet-name>
    <servlet-class>cn.displayboard.register.action.RegisterServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>LoginAction</servlet-name>
    <servlet-class>cn.displayboard.login.action.LoginAction</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>FileUploadOrDownloadAction</servlet-name>
    <servlet-class>cn.displayboard.business.action.FileUploadOrDownloadAction</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>HotDisplayBoardUpload</servlet-name>
    <servlet-class>cn.displayboard.business.action.HotDisplayBoardUpload</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>RecentHotDisplayboardJson</servlet-name>
    <servlet-class>cn.displayboard.business.action.RecentHotDisplayboardJson</servlet-class>
  </servlet>







  <servlet-mapping>
    <servlet-name>RegisterAction</servlet-name>
    <url-pattern>/servlet/RegisterAction</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>RegisterServlet</servlet-name>
    <url-pattern>/servlet/RegisterServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>LoginAction</servlet-name>
    <url-pattern>/servlet/LoginAction</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>FileUploadOrDownloadAction</servlet-name>
    <url-pattern>/servlet/FileUploadOrDownloadAction</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>HotDisplayBoardUpload</servlet-name>
    <url-pattern>/servlet/HotDisplayBoardUpload</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>RecentHotDisplayboardJson</servlet-name>
    <url-pattern>/servlet/RecentHotDisplayboardJson</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
</web-app>
